.card {
    width: 300px;
    height: 500px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
}

.posterContainer {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.media {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.posterContainer:hover .media {
    transform: scale(1.05);
}

.rating {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
}

.cardContent {
    flex: 1 1 auto;
    text-align: center;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    overflow: hidden;
}

.cardContent h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
